html {
    background-image: url("./bg3.jpg");
    background-size: cover;
   
}

h1 {
    text-shadow: initial;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 10rem;
    font-weight: 400;
    margin: 1rem;
    color: rgba(253, 246, 246, 0.70)
}


h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;  
    margin: 10px;
}

.photoGrid {
    max-width: 1000px;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
}

figure {
    flex-basis: calc(33.33%-2rem);
    padding: 0.1px;
    flex-grow: 1;
    margin: calc(33.33%-2rem);
}

.photo {
    width: 410px;
    margin: calc(figure.margin);
}


figureCaption { 
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 2rem;
    color: whitesmoke;
}